# fly.toml configuration for Memos
app = 'memos'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '10s'
    timeout = '5s'
    grace_period = '30s'
    method = 'GET'
    path = '/health'
    protocol = 'http'
    [http_service.checks.headers]

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
