<!-- Custom styles for social icons and other site customizations -->
<style>
  .social-links {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .social-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--link-color);
    transition: background-color 0.2s ease;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
  }

  .social-icon-linkedin {
    mask-image: url('/images/linkedin.svg');
    -webkit-mask-image: url('/images/linkedin.svg');
  }

  .social-icon-github {
    mask-image: url('/images/github.svg');
    -webkit-mask-image: url('/images/github.svg');
  }

  .social-icon-threads {
    mask-image: url('/images/threads.svg');
    -webkit-mask-image: url('/images/threads.svg');
  }

  .home-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--link-color);
    transition: background-color 0.2s ease;
    mask-image: url('/images/home-icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url('/images/home-icon.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
  }

  .home-icon:hover {
    background-color: var(--heading-color);
  }

  .social-link:hover .social-icon {
    background-color: var(--heading-color);
  }

  /* Byline styles */
  .byline {
    text-align: right;
    font-style: italic;
    margin: 1em 0;
  }

  .byline-voice-note {
    font-size: 0.9em;
    color: #666;
  }

  /* Icon alignment */
  .icon-inline {
    vertical-align: middle;
  }

  /* You can also set specific colors for each platform if you prefer */
  /* Uncomment and customize these if you want brand colors:

  .social-icon-linkedin {
    background-color: #0077b5;
  }

  .social-icon-github {
    background-color: #333;
  }

  .social-icon-threads {
    background-color: #000;
  }

  @media (prefers-color-scheme: dark) {
    .social-icon-github {
      background-color: #fff;
    }

    .social-icon-threads {
      background-color: #fff;
    }
  }
  */
</style>
