<!-- Custom styles for social icons and other site customizations -->
<style>
  .social-links {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  /* Base class for all masked icons */
  .icon-base {
    display: inline-block;
    background-color: var(--link-color);
    transition: background-color 0.2s ease;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
  }

  .social-icon {
    width: 24px;
    height: 24px;
  }

  .social-icon-linkedin {
    mask-image: url('/images/linkedin.svg');
    -webkit-mask-image: url('/images/linkedin.svg');
  }

  .social-icon-github {
    mask-image: url('/images/github.svg');
    -webkit-mask-image: url('/images/github.svg');
  }

  .social-icon-threads {
    mask-image: url('/images/threads.svg');
    -webkit-mask-image: url('/images/threads.svg');
  }

  .home-icon {
    width: 20px;
    height: 20px;
    mask-image: url('/images/home-icon.svg');
    -webkit-mask-image: url('/images/home-icon.svg');
  }

  .home-icon:hover {
    background-color: var(--heading-color);
  }

  .social-link:hover .social-icon {
    background-color: var(--heading-color);
  }

  /* Byline styles */
  .byline {
    text-align: right;
    font-style: italic;
    margin: 1em 0;
  }

  .byline-voice-note {
    font-size: 0.9em;
    color: #666;
  }

  /* Icon alignment */
  .icon-inline {
    vertical-align: middle;
  }

  /* You can also set specific colors for each platform if you prefer */
  /* Uncomment and customize these if you want brand colors:

  .social-icon-linkedin {
    background-color: #0077b5;
  }

  .social-icon-github {
    background-color: #333;
  }

  .social-icon-threads {
    background-color: #000;
  }

  @media (prefers-color-scheme: dark) {
    .social-icon-github {
      background-color: #fff;
    }

    .social-icon-threads {
      background-color: #fff;
    }
  }
  */

  /* Override visited link colors to match unvisited links */
  ul.blog-posts li a:visited {
    color: var(--link-color);
  }

  /* Callout blocks (GitHub-style alerts) */
  .callout {
    display: flex;
    gap: 12px;
    padding: 16px;
    margin: 1.5em 0;
    border-radius: 6px;
    border-left: 5px solid;
  }

  .callout-icon {
    flex-shrink: 0;
    font-size: 1.2em;
    line-height: 1;
  }

  .callout-content {
    flex-grow: 1;
  }

  .callout-content p:first-child {
    margin-top: 0;
  }

  .callout-content p:last-child {
    margin-bottom: 0;
  }

  /* NOTE callout - blue theme */
  .callout-note {
    background-color: #e7f2fa;
    border-left-color: var(--link-color);
  }

  /* TIP callout - green theme */
  .callout-tip {
    background-color: #e6f6e6;
    border-left-color: #1a7f37;
  }

  /* Dark mode support */
  @media (prefers-color-scheme: dark) {
    .callout-note {
      background-color: #1c2d3a;
      border-left-color: var(--link-color);
    }

    .callout-tip {
      background-color: #1c2d1c;
      border-left-color: #3fb950;
    }
  }
</style>
