{{ define "main" }}

{{ .Content }}

{{ $pinnedPosts := where .Site.RegularPages ".Params.pinned" true }}
{{ if $pinnedPosts }}
{{ $pinnedPosts = $pinnedPosts.ByDate.Reverse }}
{{ $pinnedPosts = first 8 $pinnedPosts }}

<h4>Pinned Posts</h4>
<ul class="blog-posts">
  {{ range $pinnedPosts }}
  <li>
    <span>
      <i>
        <time datetime='{{ .Date.Format "2006-01-02" }}'>
          {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
        </time>
      </i>
    </span>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}

{{ end }}
