name: Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    name: Run tests and linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.0'

      - name: Run tests
        run: make test

      - name: Run linting
        uses: golangci/golangci-lint-action@v7
        with:
          version: "v2.5.0"
          args: --timeout=5m
